* {
 font-family: Arial, sans;
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 -moz-box-sizing: border-box;
}

body {background-color: aliceblue;}

h1, h2, h3 {padding: 1em 0;text-align: center;}

#container ul {list-style-type: none; margin-bottom: 10px;}
#container li a{ text-decoration: none;	color: white;}

.tabla_inscriptos {}
.tabla_inscriptos th {font-weight: bolder;font-size: 1em;}
.tabla_inscriptos tr td {
	border-bottom: 1px solid grey;
	font-size: 0.9em;
	background-color: white;
	color: black;
	margin: 0px;
}

.tabla_inscriptos tr:nth-child(1) th {
	text-align: center;
	padding: 3px 0px 3px 0px;
}

.center{
	text-align: center;
	margin:auto;
}
/*.lista_menu li{
	display: inline;
	padding: 2px 5px 2px 5px;
	background-color: #222299;

}*/

/*#content-2 tr td a{
	color: white;
}*/


#container {
	margin: 0 auto;
	width: 80%; /* Ancho del contenedor */
	background: white;
	-webkit-box-shadow: 1px 1px 7px rgba(153, 153, 153, 0.2);
	-moz-box-shadow: 1px 1px 7px rgba(153, 153, 153, 0.2);
	box-shadow: 1px 1px 7px rgba(153, 153, 153, 0.2);
	border-radius: 0 .25em .25em .25em;
	min-height: 48.7em;
	position: relative;
	z-index: 5;
}


#buscar {padding: 5px;}
/*#container #buscar {
 height: 2.5em;
 visibility: visible;
 float: right;
}*/
#container li input {
 height: 2.5em;
 visibility: visible;
 width: 50%;
}
#container li select {
 height: 2.5em;
 visibility: visible;
 width: 50%;
}
#container li{
float: left;

}
#container a.menu {
	background: #2887D6;
	font-weight: bold;
	/*color: black;*/
 	cursor: pointer;
 	display: block;
 	float: left;
 	font-size: 11pt; 
 	height: 2.5em;
 	line-height: 2.5em;
 	margin-right: .25em;
 	padding: 0 1.5em;
}

/*#container .tabla_inscriptos a {
	text-decoration: none;
	color: #FFFFFF;
	font-weight: bold;
	background: #2887D6; 
 	border-radius: 5px;
 	font-size: 0.7em;
 	box-shadow: 0px 0px 5px #222222;
	/*color: black;
	cursor: pointer;
	display: block;
	float: left;
	font-size: 11pt; 
	height: 2.5em;
	line-height: 2.5em;
	margin-right: .25em;
	padding: 0 1.5em;*/
}*/

#container li label {
 width: 45%;
 cursor: default;
 background: none;
}

#container input:hover + li {
background: #d3ab06;
border-bottom: 5px solid #1e5799;
 /*background: #ddd; /* Fondo de las pestañas al pasar el cursor por encima */
 color: black; /* Color del texto de las pestañas al pasar el cursor por encima */
}
#container input:checked + li {
background: white;
border-bottom: 5px solid #1e5799;
 /*background: #f1f1f1; /* Fondo de las pestañas al presionar */
 /*color: white; /* Color de las pestañas al presionar */
 position: relative;
 z-index: 6;
}




#content {
background: white;
-webkit-box-shadow: 1px 1px 7px rgba(153, 153, 153, 0.2);
-moz-box-shadow: 1px 1px 7px rgba(153, 153, 153, 0.2);
box-shadow: 1px 1px 7px rgba(153, 153, 153, 0.2);
 /*background: #f1f1f1; /* Fondo del contenido */
 border-radius: 0 .25em .25em .25em;
 min-height: 48.7em; /* Alto del contenido */
 position: relative;
 width: 100%;
 z-index: 5;
}
#content div {
 opacity: 0;
 padding: 1.5em;
 position: absolute;
 z-index: -100;
}
div#content-1 {
width: 100%;
}
/*#content-1 p {
 clear: both;
 margin-bottom: 1em;
}
#content-1 p.left img {
 float: left;
 margin-right: 1em;
}
#content-1 p.last {
 margin-bottom: 0;
}
#content-2 p {
 float: left;
 width: 48.5%;
}
#content-2 p.column-right {
 margin-left: 3%;
}
#content-2 p img {
 display: block;
 margin: 0 auto 1em auto;
}
#content-3 p,
#content-3 ul {
 margin-bottom: 1em;

}*/
#content-3 ul {
 margin-left: 2em;
}
#container input#tab-1:checked ~ #content #content-1,
#container input#tab-2:checked ~ #content #content-2,
#container input#tab-3:checked ~ #content #content-3 {
 opacity: 1;
 z-index: 100;
}

#boton1,#boton2{
	text-align: center;
}
header {
height: 170px;
text-align: center;
background:-webkit-linear-gradient(top, #1e5799 0%,#2989d8 100%);
background:-moz-linear-gradient(top, #1e5799 0%,#2989d8 100%);
/*background-color: #640101;*/
padding: 14px;}
header img {
height: 100%;
}
button.submit {
background: #1e5799;
color: white;
width: 100px;
height: 30px;
border-radius: 7px;
margin-top: 30px;
}
div#content-2 {
width: 100%;
}
div#content-2 li label {
width: 30%;
}
div#content-2 li input {
width:40%;
float:left;
}
div#content-2 li #pago {
width: 6%;
margin-left: 100px;
}
table {
margin-top: 20px;
width: 100%;
}
table td {
padding: 5px;
text-align: center;
}
table tr {
background:-webkit-linear-gradient(top, #1e5799 0%,#2989d8 100%);
background:-moz-linear-gradient(top, #1e5799 0%,#2989d8 100%); 
color:white;
}

/*NUEVO*/
ul {
width: 100%;
overflow: hidden;
}

.activo {
background: white !important;
color: #1e5799 !important;
border-bottom: 5px solid #1e5799;
 /*background: #f1f1f1; /* Fondo de las pestañas al presionar */
 /*color: white; /* Color de las pestañas al presionar */
 position: relative;
 z-index: 6;
}
table a {
width: 100%;
text-decoration: none;
}
